<div>
    <div class="video-container container-fluid">
        <div class="player">
            <!--<video id="video" src="http://xcase.oss-cn-hangzhou.aliyuncs.com/video/u3l1-video.mp4"  class="video-js vjs-default-skin vjs-big-play-centered" style="height:auto;width:100%"  controls preload="auto">-->

            <!--</video>-->
        </div>
        <div class="panel">
            {{sum}}
        </div>
        <case-video></case-video>
        <!--<div ng-include="'views/components/caseVideo.html'"></div>-->
        <h3><i class="fa fa-camera-retro"></i>sfdsf</h3>

        <div>
            <progress value="50" max="100"></progress>
        </div>

    </div>
</div>